@model Listing.Domain.DomainModels.ListingPost

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Listing</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discount" class="control-label"></label>
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories"></select>
            </div>
            <div class="form-group">
                <label asp-for="LocationId" class="control-label"></label>
                <select asp-for="LocationId" class="form-control" asp-items="ViewBag.Locations"></select>
            </div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="DateCreated" />
            <input type="hidden" asp-for="UserId" />
            <div>
                @for (int i = 0; i < Model.ListingImages.Count; i++)
                {
                    var item = Model.ListingImages.ElementAt(i);
                <div class="btn-group">
                    <a asp-action="DeleteImage" asp-route-listingId="@Model.Id" asp-route-imageId ="@item.Id"> Delete image
                    </a>
                </div>
                    <div class="col-sm-12">
                        <img id="ItemPreview" src="@item.ImageSrc" width="300">
                    </div>
                }

            </div>
            <div class="form-group">
                <label>Choose another images for your listing post</label>
                <input type="file" name="images" id="images" multiple accept="image/*" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
