.nav-custom {
    font-size: 16pt;
    border-bottom: 2px solid #2D3F5E;
    border-radius: 0 0 0 10px;
    margin: 7px;
}

    .nav-custom:hover {
        font-weight: 700;
    }

.nav-item {
    margin-bottom: 5px;
}

#image-listing {
    border-radius: 10px 10px 0 0;
}

.card-header {
    font-size: 15pt;
    color: black;
    font-weight: 600;
}

.description {
    padding-top: 0;
    max-width: 400px;
    background: white;
}

.desc-text {
    font-size: 11pt !important;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.price {
    font-size: 13pt !important;
}

#price {
    color: green;
}

.create-btn {
    float: right;
    background: #2dce89;
}

    .create-btn a {
        color: white !important;
    }

.see-more {
    font-size: 13pt !important;
    text-decoration: underline #5e72e4 !important;
}

    .see-more:hover {
        font-weight: 600;
        text-decoration: underline dotted #5e72e4 !important
    }